<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery-1.8.2.js"></script>
    <style>
        #div1{
            width: 50%;
            height: 100%;
            background-color: antiquewhite;
        }
        .div2{
            width: 100%;
            height: 90px;

        }
        #divTitle{
            width: 100%;
            height: 60%;

        }
        #divContent{
            width: 100%;
            height: 40%;

        }
        #divLeft{
            width: 50%;
            height: 100%;
            float: left;

            text-align: left;
        }
        #divRight{
            width: 50%;
            height: 100%;
            float: left;
            text-align: right;

        }

    </style>

</head>
<body>
<div style="text-align: left;width: 50%;" >
    <a th:if="${not#lists.isEmpty(score)}">
        <span th:text="'你的积分是:'+${score}"></span>
    </a>
</div>
<div style="text-align: right;">
    <a th:if="${not#lists.isEmpty(phone)}">
        <span th:text="'欢迎'+ ${phone}+'用户登录！'"></span>
    </a>
    <a onclick="updatePassword()" href="#">修改密码</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/demo/myUser/getLogin">登录</a>&nbsp;&nbsp;&nbsp;
    <a href="/demo/myUser/getRegister">注册</a>
    <hr/>
</div>
<center>
    <input hidden th:value="${u_id}" id="u_id">
    <div id="div1">
        <a th:if="${#lists.isEmpty(inforList)}">
            <p>###你还没有写任何日志哦！！快去添加吧！！</p>
            <br/>
            <a th:href="@{/myInformation/preAddInformation(u_id=${u_id})}">去写日志</a>
        </a>
        <a th:if="${not#lists.isEmpty(inforList)}">
            <a th:href="@{/myInformation/preAddInformation(u_id=${u_id})}">去写日志</a>
            <div th:each="infor,iterStat : ${inforList}">
                <div th:id="'div_'+${infor.infor_id}" class="div2">
                    <div id="divTitle">
                        <hr/>
                        <h4 align="left" th:text="${infor.title}"></h4><br/>
                    </div>
                    <div id="divContent">
                        <div id="divLeft">
                            <span th:text="${#dates.format(infor.createtime, 'yyyy-MM-dd')}">4564546</span>
                        </div>
                        <div id="divRight">
                            <a th:href="@{/myInformation/preEditInformation(infor_id=${infor.infor_id})}"><input type="button" value="编辑"></a>&nbsp;<input id="delete" th:onclick="'javascript:delete_infor('+${infor.infor_id}+')'" type="button" value="删除" >
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
        </a>

    </div>
</center>
<script type="text/javascript">
    function delete_infor(infor_id) {
        var confirm_=confirm('确认删除？');
        if(confirm_){
            $.ajax({
                type:"post",
                url:"/demo/myInformation/deleteInformation",
                data:"infor_id="+infor_id,
                success:function (msg) {
                    if(msg=="success"){
                        $("#div_"+infor_id).remove();
                        alert("删除成功")
                    }else{
                        alert("删除失败");
                    }
                }
            })
        }

    }

    //修改密码
    function updatePassword() {
       var u_id=$("#u_id").val();
        var password=window.prompt("请输入新的密码","");
        var re_password=window.prompt("请再次输入你的密码","");
        if(password==""||re_password==""){
            alert("密码不能为空");
        } if(password.length<4){
            alert("密码不能小于四位数");
        }else if(password!=re_password){
            alert("两次密码需要一致");
        }else if(password!=null&&re_password!=null){
            var confirm_ = confirm('确认修改密码？');
            if(confirm_){
                $.ajax({
                    ContentType:"application/json;charset=UTF-8",
                    type:"post",
                    url:"/demo/myUser/updatePassword",
                    data:{"password":password,"re_password":re_password,"u_id":u_id},
                    success:function (msg) {
                        if(msg=="success"){
                            alert("密码更改成功,请重新登录")
                            window.location.href="/demo/myUser/getLogin";
                        }else {
                            alert("更改失败");
                        }
                    }
                })
            }
        }
    }
</script>
</body>

</body>
</html>