<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PasswordRecordDao">
    <insert id="addRecord" parameterType="passwordRecord">
        insert into password_record(u_phone,status,p_createtime,validate_number)values (#{u_phone},#{status},#{p_createtime},#{validate_number})
    </insert>
    <update id="updateRecord" parameterType="passwordRecord">
         update password_record set u_phone=#{u_phone},status=#{status},validate_number=#{validate_number} where p_id=#{p_id}
    </update>
    <select id="queryRecordByPhone" parameterType="String" resultType="passwordRecord">
        select password_record.* from password_record where u_phone=#{u_phone}
    </select>
    <select id="queryRecordById" parameterType="Integer" resultType="passwordRecord">
        select password_record.* from password_record where p_id=#{p_id}
    </select>
    <delete id="deleteRecord" parameterType="Integer">
        delete from password_record where p_id=#{p_id}
    </delete>
</mapper>